.boxs{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: aquamarine;
  padding:50px;
  font-size: 50px;
  border: 10px solid white;
}
.kiana-2{
  max-width: 200px;
  text-align: center;
  background-color: wheat;
  padding:25px;
  font-size: 50px;
  border: 10px solid white;
  display: inline-block;
}
.kiana-3{
  max-width: 200px;
  text-align: center;
  background-color: wheat;
  padding:25px;
  font-size: 50px;
  border: 10px solid white;
 display: inline-block;
}

.box-1,.box-2,.box-3{
  padding: 50px;
  text-align: center;
  background-color: aquamarine;
  margin: 10px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.box-1{
  background-color: #548CA8;
}

.box-2{
  background-color: #476072;
}

.box-3{
  background-color: #334257;
}
