main{
  display: grid;
  grid-template-areas:
    "topbar topbar   topbar"
    "ads    content  sidebar"
    "footer footer   footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 35fr 1fr;
  border: 5px solid black;
}
header  { grid-area: topbar;}
aside   { grid-area: ads;}
article { grid-area: content;}
nav     { grid-area: sidebar;}
footer  {grid-area: footer;}


header{
  border-bottom: 5px solid black;
}

aside{
  background-color: aqua;
  border-right: 5px solid black;
}

article{
  background-color: blue;
  border-right: 5px solid black;
}
nav{
  background-color: yellow;
 }

 footer{
  border-top: 5px solid black;
 }
